[Desktop Entry]
Version=1.0
Exec=/bin/openControlGUI.sh
Name=Bike Control GUI
GenericName=Control GUI
Comment=Open Control GUI for Hydraulic Bike
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application;Network;
